/*INICIO NAVBAR*/
.bg-navbar {
    background-color: #0c0200;
}

.nav-link {
    color: white;
}
/*FIN NAVBAR*/


/*INICIO BANNER*/
.fondo {
    background-color: #dcdcdc;
}
.banner {
    width: 100%;
    height: 50%;
}
/*FIN BANNER*/


/*INICIO TITULO DE PROGRAMADORA*/
.titulo-programadora{
    padding: 5%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*FIN TITULO DE PROGRAMADORA*/


/*INICIO SOBRE MI*/ 
  #sobre-mi {
    height: 300px;
    padding-top: 20px;
    background-color: #ffb69d;
  }
  
  #about h2 {
    font-weight: 600;
    padding: 20px;
  }
  .text-about {
    width: 60%;
    float: left;
    padding-right: 40px;
  }
  
  .img-about {
    border-radius: 50%;
    width: 40%;
    float: right;
    /* width: 46px;
              height: 44px; */
    height: 200px;
 
  }
  .img-about img {
    width: 300px;
    height: 255px;
    /* height: 200px; */
  }
/*FIN SOBRE MI*/


/*INICIO EDUCACIÓN*/
#mi-educacion  {
        padding:10%;
        background-color: #dcdcdc;
        text-align: center;
        font-style: italic;
    }
   

/*FIN EDUCACIÓN*/


/*MIS CURSOS*/
#mis-cursos {
    padding:2%;
    background-color: #ffb69d;
    text-align: center;
    font-style: italic;
}
.{
    background-color: #0c0200;
}


/*INICIO EXPERIENCIA LABORAL*/
#experiencia-laboral {
    padding:10%;
    background-color: #dcdcdc;
    text-align: center;
    font-style: italic;
}
/*FIN EXPERIENCIA LABORAL*/

/*INICIO FORMACION PROFESIONAL*/
#formacion-profesional {
    padding: 10%;
    background-color: #ffb69d;
}
/*FIN FORMACION PROFESIONAL*/




/*INICIO DE SKILLS*/

#habilidades {
padding:2%;
background-color: #dcdcdc;
text-align: center;
font-style: italic;
}

.fondo-skills {
    background-color: #ffb69d;
    text-align: center;
}

.habilidades-duras{
    width: 600px;
    margin: auto;
    background-color: #d4c6c2;
    border-radius: 10%;
    border: solid 1px;
}
.habilidades-blandas{
    width: 600px;
    margin: auto;
    background-color:#d4c6c2;
    border-radius: 10%;
    border: solid 1px;
}


.skills{
    text-align: right;
    padding: 10px;
    font-weight: bold;
    border: solid;
}
/*habilidades duras*/
.html{
    background-color: #b38e97;
    animation: fillhtml 2s forwards;
}
.css{
    background-color: #b38e97;
    animation: fillcss 2s forwards;
}
.javascript {
    background-color: #b38e97;
    animation: filljavascript 2s forwards;
}
@keyframes fillhtml {
    0%{width: 0;}
    100%{width:90%;}
}
@keyframes fillcss {
    0%{width: 0;}
    100%{width:50%;}
}
@keyframes filljavascript {
    0%{width: 0;}
    100%{width:10%;}
}
/*habilidades blandas*/
.comunicacion-efectiva{
    background-color: #805d5a;
    animation: fillcomunicacionefectiva 2s forwards;
}
.autogestion{
    background-color:  #805d5a;
    animation: fillautogestion 2s forwards;
}
.trabajo-en-equipo {
    background-color:  #805d5a;
    animation: filltrabajoenequipo 2s forwards;
}
.capacidad-analitica {
    background-color:  #805d5a;
    animation: filltrabajoenequipo 2s forwards;
}

@keyframes fillcomunicacionefectiva {
    0%{width: 0;}
    100%{width:90%;}
}
@keyframes fillautogestion {
    0%{width: 0;}
    100%{width:80%;}
}
@keyframes filltrabajoenequipo {
    0%{width: 0;}
    100%{width:70%;}
}
@keyframes fillcapacidadanalitica {
    0%{width: 0;}
    100%{width:70%;}
}
/*FIN DE SKILLS*/


/*INICIO DE PROYECTO*/
#mi-proyecto {
    padding:10%;
    background-color: #ffb69d;
}
#mi-proyecto h2  {
    padding: 5px;%;
}
/*FIN DE PROYECTO*/