/*INICIO NAVBAR*/
.bg-navbar {
    background-color:#ffb69d;

}

.fa-brands:hover {
    color: red;
}

.fa-solid:hover {
    color: red;
}

.nav-link {
    color: white;
}

.nav-item {
    align-items: flex-end;
    width: 50px;
}

/*FIN NAVBAR*/


/*INICIO BANNER*/
.fondo {
    background-color: #dcdcdc;
}

.banner {
    position: relative;
    text-align: center;
}

.banner img {
    width: 100%;
    filter: brightness(0.4);
}

/*FIN BANNER*/

/*INICIO DE PRESENTACIÓN*/
.foto-p {
    border-radius: 50%;
}

#presentacion {
    background-color: #ffb69d;
    padding-bottom: 10%;
}

/*FIN DE PRESENTACIÓN*/

/*INICIO SOBRE MI*/

.info-sobremi {
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 20px;
}

.titulo-programadora h1,
h2 {
    font-size: 50px;
}

/*FIN SOBRE MI*/


/*INICIO EDUCACIÓN*/
#mi-educacion {
    padding: 2%;
    background-color: #dcdcdc;
    text-align: center;

}

.estudio-universitario {
    padding-top: 2%;
    padding-bottom: 5%;
}


/*FIN EDUCACIÓN*/


/*INICIO DE MIS CURSOS*/

#mis-cursos {
    padding: 2%;
    background-color: #ffb69d;
    text-align: center;

}

/*FIN DE MIS CURSOS*/

/*INICIO EXPERIENCIA LABORAL*/

#experiencia-laboral {
    padding: 2%;
    background-color: white;
    text-align: center;

}

/*FIN EXPERIENCIA LABORAL*/


/*INICIO FORMACION PROFESIONAL*/

#formacion-profesional {
    padding: 2%;
    background-color: #ffb69d;
}

/*FIN FORMACION PROFESIONAL*/


/*INICIO DE MIS HABILIDADES, HARD&SOFT SKILLS*/
#progressbar h2 {
    text-align: center;
    padding-bottom: 2%;
}

#progressbar {
    background-color: #dcdcdc;
    padding: 2%;
}


/*FIN DE MIS HABILIDADES, HARD&SOFT SKILLS*/


/*INICIO DE PROYECTO*/

#mi-proyecto {
    padding: 2%;
    background-color: #ffb69d;
}

/*FIN DE PROYECTO*/