
/*INICIO NAVBAR*/
.bg-navbar {
    background-color: #0c0200;

}

.nav-link {
    color: white;
}
.nav-item {
 align-items:flex-end;
 width:50px;
}

/*FIN NAVBAR*/


/*INICIO BANNER*/
.fondo {
    background-color: #dcdcdc;
}
.banner {
    position: relative;
    text-align: center;
}
  
.banner img {
    width: 100%;
    filter: brightness(0.4);
}

/*FIN BANNER*/


/*INICIO SOBRE MI*/

.foto {
    padding: 10%;
    border-radius: 50%;
 }

.sobremi {
    background-color:#f3f4f6 ;

}

#titulo {
    background-color: #0c0200;
}

.titulo-programadora h1,
h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

/*FIN SOBRE MI*/


/*INICIO EDUCACIÓN*/
#mi-educacion {
    padding: 5%;
    background-color: #dcdcdc;
    text-align: center;
   
}
.estudio-universitario {
    padding-left: 30%;
}


/*FIN EDUCACIÓN*/


/*MIS CURSOS*/
#mis-cursos {
    padding: 2%;
    background-color: #ffb69d;
    text-align: center;
    
}


/*INICIO EXPERIENCIA LABORAL*/
#experiencia-laboral {
    padding: 10%;
    background-color: #dcdcdc;
    text-align: center;
 
}

/*FIN EXPERIENCIA LABORAL*/


/*INICIO FORMACION PROFESIONAL*/
#formacion-profesional {
    padding: 10%;
    background-color: #ffb69d;
}

/*FIN FORMACION PROFESIONAL*/


/*INICIO DE MIS HABILIDADES, HARD&SOFT SKILLS*/
#progressbar {
    padding:2%;
}
#progressbar h2 {
    text-align: center;
}

/*FIN DE MIS HABILIDADES, HARD&SOFT SKILLS*/


/*INICIO DE PROYECTO*/
#mi-proyecto {
    padding: 10%;
    background-color: #ffb69d;
}

#mi-proyecto h2 {
    padding: 5px;
}

/*FIN DE PROYECTO*/
